<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency Login</title>
    <link rel="stylesheet" href="{% static 'agency_login.css' %}">
</head>
<body>
    <div class="outer-box">
        <div class="inner-box">
            <h2>Agency Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-button">Login</button>
            </form>
            <p>Forgot Password?</a></p>
        </div>
    </div>
</body>
</html>
